<!DOCTYPE html>
<html>
<head>
  <title>NXTBT: NeXT Big Thing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><img src="/assets/nxtbtlogo.png" alt="NXTBT Logo" height="100" width="100" /> NXTBT: NeXT Big Thing</h1>
<%= yield %>

</body>
</html>
